// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$typography-font-family: "Montserrat";

$indigo : #164FA4 !default;
$indigo-1 : #EDEDFB !default;
$indigo-2 : #D8DBF6 !default;
$indigo-3 : #C4C8EF !default;
$indigo-4 : #ACB5E6 !default;
$indigo-5 : #96A1DC !default;
$indigo-6 : #7D8ECF !default;
$indigo-7 : #667BC3 !default;
$indigo-8 : #4B6BB8 !default;
$indigo-9 : #345CAE !default;


$blue : #7CBDE2 !default;
$blue-1 : #F5F9FE !default;
$blue-2 : #EAF3FC !default;
$blue-3 : #DEEDFA !default;
$blue-4 : #D1E6F7 !default;
$blue-5 : #C4DFF4 !default;
$blue-6 : #B8D9F1 !default;
$blue-7 : #ABD2ED !default;
$blue-8 : #9CCCEA !default;
$blue-9 : #8EC5E6 !default;


$orange : #E84C19 !default;
$orange-1 : #FFF2EA !default;
$orange-2 : #FFE4D2 !default;
$orange-3 : #FFD2BA !default;
$orange-4 : #FFC1A1 !default;
$orange-5 : #FEB189 !default;
$orange-6 : #FDA074 !default;
$orange-7 : #FB8E5A !default;
$orange-8 : #F37743 !default;
$orange-9 : #ED622D !default;

$grey-1: #F5F5F5 !default;